<div class="w-full h-[100vh]">
    <div class="w-full h-full">
        <!-- NAV BAR -->
        <div class="w-full p-5">
            <app-nav-bar></app-nav-bar>
            <!-- <app-about></app-about> -->
        </div>
        <!-- BODY CONTACT -->
        <div class="w-full p-5">
            <app-contact-form></app-contact-form>
        </div>
        <!-- FOOTER CONTACT -->
        <!-- <div class="fixed bottom-0 w-full">
            <app-footer-port></app-footer-port>
        </div> -->
    </div>
</div>