@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.hover\:span-wider:hover span {
    width: 5rem; /* Cambia a 20 unidades (w-20 equivalente) */
    border-color: #f97316;
}
  