<div class="w-full h-[100vh]">
    <div class="w-full h-full">
        <!-- NAV BAR -->
        <div class="w-full p-5 h-[80px]">
            <app-nav-bar [mailVisible]="false"></app-nav-bar>
            <!-- <app-about></app-about> -->
        </div>
        <!-- BODY HOME -->
        <div class="w-full px-28 py-5 flex gap-5 body-data">
            <div class="w-1/2 pr-10 h-full">
                <div class="flex justify-between w-full items-center pb-5 text-[35px] md:text-[3.5rem]">
                    <div class="">
                        <h1 class="lilita-one-regular">Jak Campos</h1>
                        <app-typing-animation></app-typing-animation>
                        <!-- <h2 class="text-[1.3rem] lilita-one-regular">Full-Stack developer 💻</h2> -->
                        <p class="text-[1rem] py-4">Innovation through code, creativity in each solution.</p>
                    </div>
                    <img src="./jak_perfil.jpg" alt="" class="w-32 flex rounded-full">
                </div>
                <div class="flex justify-start items-center lilita-one-regular">
                    <div class="flex flex-col gap-4">
                        <div class="flex items-center justify-start cursor-pointer font-bold hover:span-wider hover:text-orange-500">
                            <span class="w-10 h-[1px] transition-all duration-300 border border-black"></span>
                            <h2 class="pl-5">ABOUT</h2>
                        </div>
                        <div class="flex items-center justify-start cursor-pointer font-bold hover:span-wider hover:text-orange-500">
                            <span class="w-10 h-[1px] transition-all duration-300 border border-black"></span>
                            <h2 class="pl-5">EXPERIENCE</h2>
                        </div>
                        <div class="flex items-center justify-start cursor-pointer font-bold hover:span-wider hover:text-orange-500">
                            <span class="w-10 h-[1px] transition-all duration-300 border border-black"></span>
                            <h2 class="pl-5">EDUCATION</h2>
                        </div>
                        <div class="flex items-center justify-start cursor-pointer font-bold hover:span-wider hover:text-orange-500">
                            <span class="w-10 h-[1px] transition-all duration-300 border border-black"></span>
                            <h2 class="pl-5">SKILLS</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-1/2 px-5 py-3 h-full overflow-auto">
                <p class="">
                    I am a <b>Fullstack Developer</b> with a passion for creating <b>technological 
                    solutions</b> that make a difference. With a strong background in <b>Computer 
                    Science</b>, I have experience in <b>web application</b> development, <b>
                    interface design</b>, and the implementation of <b>frontend</b> and <b>
                    backend</b> technologies. I am motivated to work on projects that not only solve problems, but 
                    also offer memorable <b>user experiences</b>.
                </p><hr class="mt-6">

            </div>
        </div>
        <!-- FOOTER HOME -->
        <!-- <div class="fixed bottom-0 w-full">
            <app-footer-port></app-footer-port>
        </div> -->
    </div>
</div>