<div class="flex flex-col justify-center items-center w-full">
    <div class="flex justify-center items-center w-full">
        <a class="flex justify-center items-center cursor-pointer" href="https://www.linkedin.com/in/jakce30/"><lucide-icon name="linkedin" [size]="40" color="#ff6d1f" class="px-2"></lucide-icon></a>
        <a class="flex justify-center items-center cursor-pointer" href="https://www.instagram.com/_jak.30/"><lucide-icon name="Instagram" [size]="40" color="#ff6d1f" class="px-2"></lucide-icon></a>
        <a class="flex justify-center items-center cursor-pointer" href="https://github.com/JakCE"><lucide-icon name="Github" [size]="40" color="#ff6d1f" class="px-2"></lucide-icon></a>
        <a class="flex justify-center items-center cursor-pointer" href="https://wa.me/51931975770"><lucide-icon name="Smartphone" [size]="40" color="#ff6d1f" class="px-2"></lucide-icon></a>
        <!-- <a class="flex justify-center items-center"><lucide-icon name="MoveRight" [size]="40" color="#ff6d1f" class="px-2"></lucide-icon></a> -->
    </div>
    <div class="text-orange-500 font-medium">
        <small>&#169; 2024 - Jak Campos</small>
    </div>
</div>