<div class="hidden lg:grid grid-cols-3 gap-4">
    <div class="col-span-2 grid grid-cols-3 gap-4">
        <div class="logo flex justify-start items-center cursor-pointer">
            <div class="flex justify-start items-center px-2 h-[40px] text-[40px] lilita-one-regular"><h1 class="text-gray-400">J<span class="text-orange-500">A</span>K</h1></div>
            <div class="flex justify-start items-center px-2 bg-orange-500 text-white font-bold rounded-sm"><small>Portfolio</small></div>
        </div>
        <div class="info flex justify-start items-center animate-slideDown" *ngIf="mailVisible">
            <p class="flex items-center justify-start text-center"><lucide-icon name="mail" class="mx-2" [size]="20"></lucide-icon> jak.ce30&#64;gmail.com</p>
        </div>
        <div class="config flex justify-start items-center">
            <!-- <lucide-icon name="bolt" [size]="20"></lucide-icon> -->
        </div>
    </div>
    <div class="hidden lg:flex justify-evenly items-center gap-4">
        <div class="flex items-center justify-start text-center cursor-pointer hover:underline transition-all duration-300 ease-in-out hover:text-orange-500 font-bold animate-slideDown" routerLink="/home"><lucide-icon name="house" class="mx-1" [size]="20"></lucide-icon> Home</div>
        <div class="flex items-center justify-start text-center cursor-pointer hover:underline transition-all duration-300 ease-in-out hover:text-orange-500 font-bold animate-slideDown" routerLink="/about"><lucide-icon name="User" class="mx-1" [size]="20"></lucide-icon> About</div>
        <div class="flex items-center justify-start text-center cursor-pointer hover:underline transition-all duration-300 ease-in-out hover:text-orange-500 font-bold animate-slideDown" routerLink="/projects"><lucide-icon name="BriefcaseBusiness" class="mx-1" [size]="20"></lucide-icon> Projects</div>
        <a class="flex items-center justify-start text-center cursor-pointer hover:underline transition-all duration-300 ease-in-out hover:text-white font-bold animate-slideDown hover:bg-orange-500 p-2 rounded-md" href="https://read.cv/jak_ce" target="_blank"><lucide-icon name="File" class="mx-1" [size]="20"></lucide-icon> My CV</a>
    </div>
</div>

<div class="lg:hidden gap-4">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
        <div class="hidden logo md:flex justify-start items-center cursor-pointer">
            <div class="flex justify-start items-center px-2 h-[40px] text-[40px] lilita-one-regular"><h1 class="text-gray-400">J<span class="text-orange-500">A</span>K</h1></div>
            <div class="flex justify-start items-center px-2 bg-orange-500 text-white font-bold rounded-sm"><small>Portafolio</small></div>
        </div>

        <!-- Hamburger Menu Icon (visible on small screens) -->
        <!-- <div class="block sm:hidden">
            <button (click)="toggleMenu()" class="text-black focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div> -->

        <!-- Desktop Menu (visible on larger screens) -->
        <div class="hidden sm:flex space-x-4 text-black">
            <a routerLink="/home" class="hover:text-orange-400">Home</a>
            <a routerLink="/about" class="hover:text-orange-400">About</a>
            <a routerLink="/projects" class="hover:text-orange-400">Projects</a>
            <a href="https://read.cv/jak_ce" target="_blank" class="hover:text-orange-400">My CV</a>
        </div>
    </div>

    <!-- Mobile Menu (visible when the menu is toggled) -->
    <!-- <div *ngIf="menuOpen" class="sm:hidden mt-4 bg-white mobile-menuu">
        <a routerLink="/home" class="block font-bold py-2 px-4 text-orange-500 hover:bg-orange-500 hover:text-white">Home</a>
        <a routerLink="/about" class="block font-bold py-2 px-4 text-orange-500 hover:bg-orange-500 hover:text-white">About</a>
        <a routerLink="/projects" class="block font-bold py-2 px-4 text-orange-500 hover:bg-orange-500 hover:text-white">Projects</a>
        <a routerLink="/contact" class="block font-bold py-2 px-4 text-orange-500 hover:bg-orange-500 hover:text-white">My CV</a>
    </div> -->
</div>

<nav class="block sm:hidden bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="logo flex justify-start items-center cursor-pointer">
        <div class="flex justify-start items-center px-2 h-[40px] text-[40px] lilita-one-regular"><h1 class="text-gray-400">J<span class="text-orange-500">A</span>K</h1></div>
        <div class="flex justify-start items-center px-2 bg-orange-500 text-white font-bold rounded-sm"><small>Portafolio</small></div>
    </div>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a routerLink="/home" class="block py-2 px-3 text-white bg-orange-500 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
        </li>
        <li>
          <a routerLink="/about" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
        </li>
        <li>
          <a routerLink="/projects" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Projects</a>
        </li>
        <li>
          <a href="https://read.cv/jak_ce" target="_blank" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">My CV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>